<div class="panel panel-default">

  <div class="panel-heading">

    <h3 class="panel-title">viewing <%= current_parent.name.downcase %></h3>
  </div>

  <div class="panel-body">

    <h4><%= current_parent.name.split(' ').first.downcase %>'s info:</h4>
    <% if current_parent.image == nil || current_parent.image.empty? %>
      no image provided
    <% else %>
      <%= image_tag(current_parent.image, :width => 80) %>
    <% end %>
    <br>
    email: <%= current_parent.email %>
    <br>
    account created on: <%= current_parent.created_at.strftime('%B %d, %Y').downcase %>
    <br>
    id number: <%= current_parent.id %>

    <br><br>
    <%= link_to 'edit this user', admin_edit_path %>
    <br>
    <%= link_to 'return to all users', admin_index_path %>
  </div>
