<div class="panel panel-default">

  <div class="panel-heading">

    <h3 class="panel-title">viewing <%= @parent.name.downcase %></h3>
  </div>

  <div class="panel-body">

    <h4><%= @parent.name.split(' ').first.downcase %>'s info:</h4>
    <% if @parent.image == nil || @parent.image.empty? %>
      no image provided
    <% else %>
      <%= image_tag(@parent.image, :width => 80) %>
    <% end %>
    <br>
    email: <%= @parent.email %>
    <br>
    account created on: <%= @parent.created_at.strftime('%B %d, %Y').downcase %>
    <br>
    id number: <%= @parent.id %>

    <br><br>

    <%= link_to 'return to all users', admin_index_path %>
  </div>
