<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">sign up</h3>
  </div>

  <div class="panel-body">

    <% if flash[:alert] %>
      <div class="panel-body">
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>
    
    <%= form_for(@parent, url: new_registration_path(@parent)) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <br>
      <%= f.submit "sign up", :class => 'btn btn-primary' %>
    <% end %>
    <br>
    <%= link_to '/auth/facebook' do %>
      <%= image_tag("facebook_login_button.png", :width => 300) %>
    <% end %>
  </div>
</div>
