<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">contact</h3>
  </div>

  <div class="panel-body">

    <%= link_to 'https://www.facebook.com/rabbigreenberg' do %>
      <%= image_tag("facebook_icon.png", :width => 118) %>
    <% end %>

    <%= link_to 'https://twitter.com/RabbiGreenberg' do %>
      <%= image_tag("twitter_icon.png", :width => 118) %>
    <% end %>

    <%= link_to 'https://www.linkedin.com/in/rabbigreenberg/' do %>
      <%= image_tag("linkedin_icon.png", :width => 118) %>
    <% end %>

    <%= link_to 'https://github.com/benhayehudi' do %>
      <%= image_tag("github_icon.png", :width => 128) %>
    <% end %>

  </div>
