<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @todo.title %> ~ added: <%= @todo.created_at.strftime('%B %d, %Y').downcase %></h3>
  </div>

  <div class="panel-body">

    <% if @todo.address == nil || @todo.address.empty? %>
      no address supplied
      <br>
      <%= form_for(@todo) do |f| %>
        <%= f.label :address, "add some info" %><br>
        <%= f.text_field :address, :placeholder => 'enter a street address', size: 22 %>
        <br>
        <%= f.submit 'submit', :class => 'btn btn-primary' %>
      <% end %>
    <% else %>
      <iframe
        width="200"
        height="150"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCkIkw32ps5odw1KNV7wtdteXOyk1B69RE
        &q=<%= @todo.address %>" allowfullscreen>
      </iframe>
    <% end %>

    <br>

    <% if @todo.description.nil? || @todo.description.empty? %>
      <%= form_for(@todo) do |f| %>
        <%= f.label :description, "add some info" %>
        <br>
        <%= f.text_area :description %>
        <br>
        <%= f.submit 'add description', :class => 'btn btn-primary' %>
      <% end %>
    <% else %>
      <h4>some info:</h4>
      <%= @todo.description %>
      <br>
    <% end %>

    <br><br>

    <h4>what do you need to do?</h4>
      <%= form_for([@todo, @task]) do |f| %>
        <%= f.text_field :title, :placeholder => 'what needs to get done?', size: 22 %>
        <%= f.hidden_field :parent_id, :value => current_user.id %>
        <%= f.hidden_field :todo_id, :value => @todo.id %>
        <%= f.submit 'add task', :class => 'btn btn-primary btn-sm' %>
      <% end %>

      <br>

      <% if @tasks.empty? %>
        <%= 'no tasks for this todo yet' %>
      <% else %>
        <% @tasks.each do |task| %>
          <% if task.done == false %>
            <%= task.title %> ~ <em>done?</em>
              <%= form_for(task, :url => todo_task_path(@todo.id, task.id)) do |f| %>
                <%= f.label 'y' %><%= f.radio_button :done, "true" %>
                <%= f.label 'n' %><%= f.radio_button :done, "false" %>
                <%= f.hidden_field :task_id, :value => task.id %>
                <%= f.submit 'mark done', :class => 'btn btn-primary btn-xs' %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

    <br>

    <h4>are you done?</h4>
    <%= form_for(@todo) do |f| %>
      <%= f.label "yes?" %>
      <%= f.radio_button :done, "true" %>
      <%= f.label "no?" %>
      <%= f.radio_button :done, "false" %>
      <br>
      <%= f.submit 'mark done', :class => 'btn btn-primary' %>
    <% end %>

  </div>

  <div class="panel-body">
  <%= link_to 'return to your todos', todos_path %>
  <br>
  <%= link_to 'logout', logout_path %>
</div>
