<div class="panel panel-default">

<div class="panel-heading">
</div>

<div class="todo-address">
<%= form_for([current_user, @todo]) do |f| %>
  <%= f.label :address, "add an address:" %><br>
  <%= f.text_field :address, :placeholder => 'enter a street address', size: 22 %>
  <br>
  <%= f.submit 'submit', :class => 'btn btn-primary' %>
<% end %>
</div>

<div class="todo-description">
<%= form_for([current_user, @todo]) do |f| %>
  <%= f.label :description, "add some info" %>
  <br>
  <%= f.text_area :description %>
  <br>
  <%= f.submit 'add description', :class => 'btn btn-primary' %>
<% end %>
</div>

<div class="todo-duedate">
<%= form_for([current_user, @todo]) do |f| %>
  <%= f.label :duedate, "needs to get done by?" %>
  <br>
  <%= f.date_field :duedate, :value => @todo.duedate %>
  <br>
  <%= f.submit 'add due date', :class => 'btn btn-primary' %>
<% end %>
</div>

<div class="todo-addtask">

</div>

<div class="todo-taskdone">
<% @tasks.each do |task| %>
  <% if task.done == false %>
    <%= form_for(task, :url => parent_todo_task_path(@todo.id, task.id)) do |f| %>
      <%= f.label 'y' %><%= f.radio_button :done, "true" %>
      <%= f.label 'n' %><%= f.radio_button :done, "false" %>
      <%= f.hidden_field :task_id, :value => task.id %>
      <%= f.submit 'mark done', :class => 'btn btn-primary btn-xs' %>
    <% end %>
  <% end %>
<% end %>
</div>

<div class="todo-done">
<%= form_for([current_user, @todo]) do |f| %>
  <%= f.label "yes?" %>
  <%= f.radio_button :done, "true" %>
  <%= f.label "no?" %>
  <%= f.radio_button :done, "false" %>
  <br>
  <%= f.submit 'mark done', :class => 'btn btn-primary' %>
<% end %>
</div>

<div class="panel panel-default">
    <div class="panel-body">
      <%= link_to 'return to your todos', parent_path %>
      <br>
      <%= link_to 'logout', logout_path %>
  </div>
