<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">welcome.</h3>
  </div>

  <div class="panel-body">

    <div id="welcome-msg">
      <img src="<%= current_user.image %>">&nbsp;<em>hi, <%= current_user.name.split(' ').first.downcase %>. what would you like to do?</em>
    </div>

    <br><br>

    <div class="todo-content">

    <h4>add something to do</h4>
    <div id="main-todo-form">
      <%= form_for([@parent, @todo]) do |f| %>
       <%= f.text_field :title, :placeholder => 'what needs to get done?', size: 22 %>
        <br>
        <%= f.text_field :address, :placeholder => 'enter a street address', size: 22 %>
        <br>
        <%= f.fields_for :tasks, @todo.tasks.new do |t| %>
          <%= t.text_field :title, :placeholder => 'add a todo', size: 22 %>
          <%= t.hidden_field :parent_id, :value => @parent.id %>
          <%= t.hidden_field :todo_id, :value => @todo.id %>
        <% end %>
        <br>
        <%= f.submit "add todo", :id => 'todo-submit', :class => 'btn btn-primary' %>
      <% end %>
    </div>

    <br><br>

    <h4>your todo list</h4>
    <div id="todo-list">
    <% @todos.each do |todo| %>
      <% if todo.done == false %>
        <strong><%= link_to todo.title, parent_todo_path(current_user, todo), :class => "load_todo", :created_at => todo.created_at %></strong>
      <br>
      <% end %>
    <% end%>
    </div>

      <br>

    <div id="main-overdue-todos-list">
      <% if @latetodos %>
        <h4>todos <em><strong>past due</em></strong></h4>
          {{#each @latetodos}}
            <strong><a href="/parents/<%= @parent.id %>/todos/{{this.id}}">{{this.title}}</a></strong>
            <br>
          {{/each}}
      <% end %>
    </div>

      <br>

    </div>
  </div>

</div>
